<!DOCTYPE html>
<html ng-app="bekesher">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Email Demo</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="common.css">
	<style type="text/css">
		body {
		    padding: 50px 0;
		}
	</style>
	
	
	<!-- All in <head> to prevent FOUC -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
	<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
	<script src="http://pubnub.github.io/angular-js/scripts/pubnub-angular.js"></script>
	
	<script src="scripts/bekesher.js"></script>
	<script src="scripts/pubnub.js"></script>

	
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="email-demo.html">Send!</a></li>
        <li><a href="setup.html">Setup</a></li>
        <li><a href="stats.html">Stats</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>




<div class="container">
<div class="starter-template">
	<h1>Stay Bekesher</h1>
	<form ng-submit="saveToPubNub()" ng-controller="submit_form" method="post"
		action="http://www.galiaba.com/tmp/angelhack-bekesher-mail.php" target="last_min_hack">
		<iframe name="last_min_hack" style="height:1px;width:1px;visibility:hidden"></iframe>
		
		<fieldset>
			<label for="email">Email:</label>
			<input type="email" name="email" ng-model="email">
		</fieldset>
		<fieldset>
			<label for="free_text">Free text:</label>
			<input type="text" ng-model="free_text" name="free_text" id="free_text">
		</fieldset>
		<fieldset ng-controller="greetings_form">
			<h2>Standard Greeting</h2>
			<select name="greeting" id="greeting" ng-model="greetingsF.selected" ng-options="greeting as greeting.title for greeting in greetingsF.greetings track by greeting.title">
<!-- 				<option value="0" ng-hide="greetingsF.selected">None</option> -->
 			</select>
 			<input type="hidden" name="greeting_text" value="{{greetingsF.selected.text}}">
		</fieldset>
		<fieldset ng-controller="portfolio_form">
			<h2>Portfolio</h2>
			<p ng-repeat="item in portfolio_flat">
				<label>
					<input type="checkbox" checklist-model="portfolioS.checked">{{item}}
				</label>
			</p>
<!--
			<select multiple="true" name="portfolio" id="portfolio" ng-model="portfolioS.selected" ng-options="item for item in portfolio_flat">
			</select>
-->
		</fieldset>
		
		
		<input type="submit" value="Send!">

		<section id="preview">
			<h1>E-mail preview</h1>
			<blockquote>
				<p>To: {{email}}</p>
				<p>{{free_text}}</p>
				<p ng-controller="greetings_preview">{{greetingsF.selected.text}}</p>
				
				{{portfolioS.selected}}
				<ul>
					<li ng-repeat="item in portfolioS.selected">{{portfolioS.item}}</li>
				</ul>
			</blockquote>
		</section>
	</form>
</div><!-- bootstrap template -->
</div><!-- container -->

	
</body>
</html>