/*
 *	Colors settings
 *	e.g. color, background, border
 */


body {
	background: #d7d7d7;
}
body,
a {
	color: #2f2f2f;
}

#header {
	background: #2f2f2f;
	
}

	#header h1,
	#header nav a {
		border-bottom: 4px solid transparent;
		color: #fff;
	}
	
	#header nav a.active {
		border-bottom-color: #e26438;
	}
	

#content {
	background: #f7f7f7;
}

fieldset {
	border: 0;
}

fieldset:not(.basics), 
fieldset.basics input {
	border-bottom: 1px solid #e2e2e2;
}

form#send input[type="email"],
form#send input[type="text"] {
	border: 0;
}

form#send input[type="submit"] {
	background: #e26438 url("../images/send_button.png") no-repeat 10px 10px;
	border: 0;
	color: white;
}

#preview blockquote {
	border-left: 4px solid #e2e2e2;
}