/* TODO: minify all these together */

@import url("colors.css");
@import url("inlines.css");
@import url("positions.css");
@import url("sizes.css");


/* Things that don't fit into above files */

#header h1,
#header nav,
#header nav a {
	display: inline-block;
}


form#send #focus h2 {
	display: inline;
}

form#send input[type="submit"] {
	border-radius: 5px;
}