/*
 *	Text settings
 *	e.g. font size, line height
 */


body,
input[type="submit"] {
	font-family: "Arial", sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}


#header {
	line-height: 2em;
}
	#header img {
		vertical-align: bottom;
	}
	#header nav {
		letter-spacing: 0.03em;
	}

#content h1 {
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 1.7em;
}


form#send fieldset h1,
form#send fieldset h2 {
	font-size: 1em;
}

form#send input[type="email"],
form#send input[type="text"] {
	line-height: 4.5em;
}

form#send input[type="submit"] {
	line-height: 2.9em;
}